{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% load cart_tools %}

{% block content %}
    <div id=cart class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Shopping Cart</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p-3 w-25 col-6 col-md-8">
                                        <div id="cart-img">
                                            {% if item.product.image %}
                                                <a href="{% url 'product_detail' item.product.id %}">
                                                    <img class="img-fluid object-fit-cover rounded" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'product_detail' item.product.id %}">
                                                    <img class="img-fluid object-fit-cover rounded" src="{% get_media_prefix %}noimage.png" alt="{{ item.product.name }}">
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="py-3 col-6 col-md-4">
                                        <!-- Product Name and SKU at the top -->
                                        <div class="mb-3">
                                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        </div>
                                        <!-- Price Section -->
                                        <div class="mb-2 mt-2 d-flex justify-content-between">
                                            <p class="my-0"><strong>Price:</strong></p>
                                            <p class="my-0 text-end">£{{ item.product.price | intcomma }}</p>
                                        </div>
                                        <hr class="text-muted" style="border: none; border-top: 2px dashed #000;">
                                        <!-- Quantity Section -->
                                        <div class="mb-2 mt-2">
                                            <p><strong>Quantity:</strong></p>
                                            <form class="form update-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm rounded-0" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-minus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control form-control-sm qty_input" type="number" 
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                            data-item_id="{{ item.item_id }}" 
                                                            id="id_qty_{{ item.item_id }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm rounded-0" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-plus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-link text-info"><small>Update</small></a>
                                            <a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                        </div>
                                        <hr class="text-muted" style="border: none; border-top: 2px dashed #000;">
                                        <!-- Subtotal Section -->
                                        <div class="mb-2 mt- d-flex justify-content-between">
                                            <p class="my-0"><strong>Subtotal:</strong></p>
                                            <p class="my-0 text-end">£{{ item.product.price | calc_subtotal:item.quantity | intcomma }}</p>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="pt-5 text-right">
                                    <h6><strong>Bag Total: £{{ total | intcomma }}</strong></h6>
                                    <h6>Shipping: £{{ shipping | intcomma }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total | intcomma  }}</strong></h4>
                                    {% if free_shipping_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free shipping by spending just <strong>£{{ free_shipping_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right">
                                    <a href="{% url 'products' %}" id="keep-shopping" class="btn btn-outline-black rounded-2 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span>Keep Shopping</span>
                                    </a>
                                    <a id="checkout_btn" href="{% url 'checkout' %}" class="btn rounded-2 btn-lg">
                                        <span>Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-2 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        //Update quantity of item in the cart
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item from the cart.
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/cart/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken,};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}