{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div id="shipping-message" class="row text-center">
        <div class="col">
            <h4 class="my-1">Spend over £{{ free_shipping_threshold }} for free shipping!</h4>
        </div>
    </div>
</div>
<div class="hero container-fluid">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 text-center">
                Check Out Our Collection!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="about container-fluid text-center">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2 class="fw-5 mt-3 font-weight-bolder">What Coiling Clay is about</h2>
            <p class="about-content">
                At Coiling Clay, we are dedicated to delivering unique, 
                handmade ceramics that bring a touch of artistry and charm to your home. 
                Each piece is meticulously crafted to blend functionality with beauty, 
                ensuring that our creations not only serve a purpose but also elevate the aesthetic of your living space. 
                Whether you're seeking a statement piece or a subtle accent, our diverse collection is designed to cater to every taste,
                adding warmth and character to any room.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <!--<img src="../../../static/media/homepage-about-section.jpg" class="img-thumbnail" alt="...">-->
            <img src="../../../static/media/homepage-about-section.jpg" class="img-fluid" alt="...">
        </div>      
    </div>
</div>
{% endblock %}