{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="wishlists" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="ms-2">
                    My Wishlists
                    <button id="add-wishlist-btn" type="button" class="btn float-end fw-bold me-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </h2>
                <hr>
            </div>
        </div>
        <div class="container">
            {% if wishlists %}
                <div class="row">
                    {% for wishlist in wishlists %}
                        <div class="col-12 col-md-6 mt-5">
                            <div class="card">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">{{ wishlist.wishlist_name }}</h5>
                                    <a href="{% url 'wishlist_details' wishlist.id %}" class="btn wishlist-enter">Enter <i class="fa-solid fa-hand-point-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>You have no wishlists yet.</p>
            {% endif %}
        </div>
    </div>
    <!-- Wishlist form popup -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new wishlist</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Give your wishlist a name:</p>
                    <form method="post" action="{% url 'create_wishlist' %}">
                        {% csrf_token %}
                        {{ wishlist_form|crispy }}
                        <hr>
                        <button type="submit" class="btn btn-primary float-end">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>
{% endblock %}