{% extends "base.html" %}

{% block content %}
<div id="delete-review" class="container-fluid mt-5">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h2>Delete Comment</h2>
            <hr>
            <p class="fw-bold fs-5">Are you sure you want to delete this comment?</p>
            <button class="btn btn-outline-black rounded-4 fw-bold text-black delete-review-btn" type="submit">Yes</button>
            <a class="btn btn-outline-black review-btn rounded-4 ms-3" href="{% url 'product_detail' comment.review.product.id %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}