{% extends "base.html" %}

{% block content %}
<div id="edit-comment" class="container-fluid mt-5">
    <div class="container">
        <h2>Edit Comment</h2>
        <hr>
        <form class="col-12 col-md-6" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success rounded-4 mt-2">Update</button>
            <a class="btn btn-outline-black review-btn rounded-4 ms-3 mt-2" href="{% url 'product_detail' review.product.id %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}