{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="Managment" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2>Store Managment</h2>
                    <h5 class="text-muted">Edit Product</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <form id="add_product_form" method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-end">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-2 my-2">Cancel</a>
                            <button id="add_product_btn" class="btn rounded-2 my-2" type="submit">Update Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}.`);
        });
    </script>
{% endblock %}