{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="product_detail" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-1">
            <div id="details_image" class="card mt-md-5">
                {% if product.image %}
                    <a href="{{ product.image_url }}" target="_blank">
                        <img class="card-img" src="{{ product.image_url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img" src="{% get_media_prefix %}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="product-details-container mb-5 mt-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                    <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                    <p>
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    </p>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                <hr>
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn rounded-0" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" 
                                    name="quantity" value="1" min="1" max="99" 
                                    data-item_id="{{ prodcut.id }}" 
                                    id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-2 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Keep Shopping</span>
                        </a>
                        <input class="btn btn-success rounded-2 mt-5" type="submit" value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
        <hr class="mt-5">
        <h3 class="ps-3 mb-3">Reviews</h3>
        <div class="col-12 col-md-6">
            {% for review in reviews %}
                <div class="card my-4">
                    <div class="card-header fs-5">
                        {{ review }}<h6 id="review-date" class="float-lg-end mt-2">{{ review.review_date }}</h6>
                    </div>
                    <div class="card-body">
                        <p><strong>Rating:</strong></p>
                        <p>{{ review.rating }} / 5  <i class="fa-solid fa-star" style="color: #FFD43B;"></i></p>
                        <hr>
                        <p><strong>Review:</strong></p>
                        <p>{{ review.review_body }}</p>
                        {% if user.is_authenticated and review.reviewer == user %}
                            <a class="btn btn-delete btn-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                        {% elif user.is_authenticated and review.reviewer != user %}
                            <button type="button" class="btn comment-btn" data-bs-toggle="modal" data-bs-target="#commentModal">
                                Comment
                            </button>                          
                        {% endif %}
                    </div>
                    {% if review.comments.exists %}
                        <hr class="text-muted" style="border: none; border-top: 2px dashed #000;">
                        <h5 class="ps-3">Comments:</h5>
                        {% for comment in review.comments.all %}
                            <div class="card comment-card">
                                <div class="card-body">
                                    <h6>{{ comment }}</h6>
                                    <h6 class="comment-date">{{ comment.date }}</h6>
                                    <hr style="width: 70%;">
                                    <p class="commnet-body">{{ comment.comment_body }}</p>
                                    {% if user.is_authenticated and comment.commenter == user %}
                                        <a class="btn btn-delete btn-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor%}
                    {% endif %}
                    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="commentModalLabel">Add a Comment</h5>
                                    <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form" method="POST" action="{% url 'add_comment' review.id %}">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <button type="submit" class="btn comment-form-btn">Send Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-6">
            <div class="card my-4">
                <div class="card-header text-center">
                    Leave a review
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <p><strong>Leaving review as:</strong> {{ user }}</p>
                        <p><strong>Reviewing:</strong> {{ product.name }}</p>
                        <form class="form" method="POST" action="{% url 'review' product.id %}">
                            {% csrf_token %}
                            {{ review_form|crispy }}
                            <button type="submit" class="btn rounded-4 btn-outline-black btn-lg review-btn ms-2 mt-2">Submit</button>
                        </form>
                    {% else %}
                        <p class="fs-5">Please log in or sign up to leave a review!</p>
                        <hr>
                        <a href="{% url 'account_login' %}" class="btn rounded-2 btn-outline-black review-btn ms-2">Log In</a>
                        <a href="{% url 'account_signup' %}" class="btn rounded-2 btn-outline-black review-btn ms-2">Sign Up</a>
                    {% endif %}
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    <script type="text/javascript">
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
        })
    </script>
{% endblock %}