{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="products" class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-center">Products</h2>
            <div class="dropdown-center">
                <a class="btn btn-secondary float-md-end me-5 mt-3 text-capatilize" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if current_sorting is None %}
                        Sort Products
                    {% else %}
                        {{ current_sorting }}
                    {% endif %}
                </a>
                
                <ul class="dropdown-menu">
                    {% if current_sorting is not None %}
                    <li><a class="dropdown-item" href="{% url 'products' %}">Defualt</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price | Low to High</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price | High to Low</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Rating | High to Low</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=asc">Rating | Low to High</a></li>
                </ul>
            </div>
            
        </div>
        <hr class="mt-2 mb-1">
    </div>
    <div class="row">
        <div class="container col-10 offset-1">
            <div class="row mt-1 mb-2">

            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 pb-2 mb-4 pt-3">
                        <div class="card h-100">
                            <div class="card h-100 border-0">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </a>
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

